<!DOCTYPE html>
<html lang="<%= language %>" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="img-src https: data:; style-src 'unsafe-inline' <%= webview.cspSource %>; script-src 'nonce-<%= nonce %>';">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link nonce="<%= nonce %>" href="<%= styleMain %>" rel="stylesheet">

        <% if (globalState.get('user') !== undefined) { %>
            
            <script nonce="<%= nonce %>">
                const tsvscode = acquireVsCodeApi(); 
                const session = "<%= globalState.get('user').sessionToken %>";
                const userId = parseInt("<%= globalState.get('user').id %>");
                const webSocketUrl = "<%= globalState.get('websocket') %>";
                const translation = JSON.parse('<%- JSON.stringify(translation) %>');
            </script>

            <script nonce="<%= nonce %>" src="<%= scriptUri %>"></script>
            
        <% } %>
    
    </head>

    <body class="h-full min-width-[240px] p-3">

        <% if (globalState.get('user') === undefined) { %>
            <%- include(loginComponentPath, {translation}); %>
        <% } else { %>
            <%- include(appComponentPath, {translation}); %>
        <% } %>

    </body>
</html>